$grey: #C4C4C4;
$dark_grey: #717171;
$light_grey: #f1f1f1;
$light_grey2: #eeeeee;
$white: #ffffff;
$black: #000000;
$blue: #49C3F3;
$blue_hover: #93DAF5;
$active: #0085ba;
$active_hover: #49C3F3;
$red: #CE3426;


@mixin transition($t...) {
  transition: $t;
  -webkit-transition: $t;
}
@mixin transform($t) {
  -webkit-transform: $t;
  -moz-transform: $t;
  -ms-transform: $t;
  -o-transform: $t;
  transform: $t;
}
@mixin transform-origin($o) {
  -ms-transform-origin: $o;
  -webkit-transform-origin: $o;
  transform-origin: $o;
}
@mixin gradient($color1, $color2) {
  background: $color1;
  background: -webkit-linear-gradient($color1, $color2);
  background: -o-linear-gradient($color1, $color2);
  background: -moz-linear-gradient($color1, $color2);
  background: linear-gradient($color1, $color2);
}
@mixin border-radius($v) {
  -webkit-border-radius: $v;
  -moz-border-radius: $v;
  border-radius: $v;
}

@mixin box-sizing($v) {
  -webkit-box-sizing: $v;
  -moz-box-sizing: $v;
  box-sizing: $v;
}


/* Balloon.css - Simple tooltips made of pure CSS */

#galeria_metabox.postbox {
	button[data-balloon]{overflow:visible}[data-balloon]{position:relative;cursor:pointer}[data-balloon]:after{filter:alpha(opacity=0);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;pointer-events:none;-webkit-transition:all .18s ease-out .18s;-moz-transition:all .18s ease-out .18s;-ms-transition:all .18s ease-out .18s;-o-transition:all .18s ease-out .18s;transition:all .18s ease-out .18s;font-family:sans-serif!important;font-weight:400!important;font-style:normal!important;text-shadow:none!important;font-size:12px!important;background:rgba(17,17,17,0.9);border-radius:4px;color:#fff;content:attr(data-balloon);padding:.5em 1em;position:absolute;white-space:nowrap;z-index:10}[data-balloon]:before{background:no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba(17,17,17,0.9)%22%20transform%3D%22rotate(0)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");background-size:100% auto;width:18px;height:6px;filter:alpha(opacity=0);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;pointer-events:none;-webkit-transition:all .18s ease-out .18s;-moz-transition:all .18s ease-out .18s;-ms-transition:all .18s ease-out .18s;-o-transition:all .18s ease-out .18s;transition:all .18s ease-out .18s;content:'';position:absolute;z-index:10}[data-balloon]:hover:before,[data-balloon]:hover:after,[data-balloon][data-balloon-visible]:before,[data-balloon][data-balloon-visible]:after{filter:alpha(opacity=100);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1;pointer-events:auto}[data-balloon].font-awesome:after{font-family:FontAwesome}[data-balloon][data-balloon-break]:after{white-space:pre}[data-balloon][data-balloon-blunt]:before,[data-balloon][data-balloon-blunt]:after{-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none}[data-balloon][data-balloon-pos="up"]:after{bottom:100%;left:50%;margin-bottom:11px;-webkit-transform:translate(-50%,10px);-moz-transform:translate(-50%,10px);-ms-transform:translate(-50%,10px);transform:translate(-50%,10px);-webkit-transform-origin:top;-moz-transform-origin:top;-ms-transform-origin:top;transform-origin:top}[data-balloon][data-balloon-pos="up"]:before{bottom:100%;left:50%;margin-bottom:5px;-webkit-transform:translate(-50%,10px);-moz-transform:translate(-50%,10px);-ms-transform:translate(-50%,10px);transform:translate(-50%,10px);-webkit-transform-origin:top;-moz-transform-origin:top;-ms-transform-origin:top;transform-origin:top}[data-balloon][data-balloon-pos="up"]:hover:after,[data-balloon][data-balloon-pos="up"][data-balloon-visible]:after{-webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0)}[data-balloon][data-balloon-pos="up"]:hover:before,[data-balloon][data-balloon-pos="up"][data-balloon-visible]:before{-webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0)}[data-balloon][data-balloon-pos="up-left"]:after{bottom:100%;left:0;margin-bottom:11px;-webkit-transform:translate(0,10px);-moz-transform:translate(0,10px);-ms-transform:translate(0,10px);transform:translate(0,10px);-webkit-transform-origin:top;-moz-transform-origin:top;-ms-transform-origin:top;transform-origin:top}[data-balloon][data-balloon-pos="up-left"]:before{bottom:100%;left:5px;margin-bottom:5px;-webkit-transform:translate(0,10px);-moz-transform:translate(0,10px);-ms-transform:translate(0,10px);transform:translate(0,10px);-webkit-transform-origin:top;-moz-transform-origin:top;-ms-transform-origin:top;transform-origin:top}[data-balloon][data-balloon-pos="up-left"]:hover:after,[data-balloon][data-balloon-pos="up-left"][data-balloon-visible]:after{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}[data-balloon][data-balloon-pos="up-left"]:hover:before,[data-balloon][data-balloon-pos="up-left"][data-balloon-visible]:before{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}[data-balloon][data-balloon-pos="up-right"]:after{bottom:100%;right:0;margin-bottom:11px;-webkit-transform:translate(0,10px);-moz-transform:translate(0,10px);-ms-transform:translate(0,10px);transform:translate(0,10px);-webkit-transform-origin:top;-moz-transform-origin:top;-ms-transform-origin:top;transform-origin:top}[data-balloon][data-balloon-pos="up-right"]:before{bottom:100%;right:5px;margin-bottom:5px;-webkit-transform:translate(0,10px);-moz-transform:translate(0,10px);-ms-transform:translate(0,10px);transform:translate(0,10px);-webkit-transform-origin:top;-moz-transform-origin:top;-ms-transform-origin:top;transform-origin:top}[data-balloon][data-balloon-pos="up-right"]:hover:after,[data-balloon][data-balloon-pos="up-right"][data-balloon-visible]:after{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}[data-balloon][data-balloon-pos="up-right"]:hover:before,[data-balloon][data-balloon-pos="up-right"][data-balloon-visible]:before{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}[data-balloon][data-balloon-pos='down']:after{left:50%;margin-top:11px;top:100%;-webkit-transform:translate(-50%,-10px);-moz-transform:translate(-50%,-10px);-ms-transform:translate(-50%,-10px);transform:translate(-50%,-10px)}[data-balloon][data-balloon-pos='down']:before{background:no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba(17,17,17,0.9)%22%20transform%3D%22rotate(180 18 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");background-size:100% auto;width:18px;height:6px;left:50%;margin-top:5px;top:100%;-webkit-transform:translate(-50%,-10px);-moz-transform:translate(-50%,-10px);-ms-transform:translate(-50%,-10px);transform:translate(-50%,-10px)}[data-balloon][data-balloon-pos='down']:hover:after,[data-balloon][data-balloon-pos='down'][data-balloon-visible]:after{-webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0)}[data-balloon][data-balloon-pos='down']:hover:before,[data-balloon][data-balloon-pos='down'][data-balloon-visible]:before{-webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0)}[data-balloon][data-balloon-pos='down-left']:after{left:0;margin-top:11px;top:100%;-webkit-transform:translate(0,-10px);-moz-transform:translate(0,-10px);-ms-transform:translate(0,-10px);transform:translate(0,-10px)}[data-balloon][data-balloon-pos='down-left']:before{background:no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba(17,17,17,0.9)%22%20transform%3D%22rotate(180 18 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");background-size:100% auto;width:18px;height:6px;left:5px;margin-top:5px;top:100%;-webkit-transform:translate(0,-10px);-moz-transform:translate(0,-10px);-ms-transform:translate(0,-10px);transform:translate(0,-10px)}[data-balloon][data-balloon-pos='down-left']:hover:after,[data-balloon][data-balloon-pos='down-left'][data-balloon-visible]:after{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}[data-balloon][data-balloon-pos='down-left']:hover:before,[data-balloon][data-balloon-pos='down-left'][data-balloon-visible]:before{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}[data-balloon][data-balloon-pos='down-right']:after{right:0;margin-top:11px;top:100%;-webkit-transform:translate(0,-10px);-moz-transform:translate(0,-10px);-ms-transform:translate(0,-10px);transform:translate(0,-10px)}[data-balloon][data-balloon-pos='down-right']:before{background:no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba(17,17,17,0.9)%22%20transform%3D%22rotate(180 18 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");background-size:100% auto;width:18px;height:6px;right:5px;margin-top:5px;top:100%;-webkit-transform:translate(0,-10px);-moz-transform:translate(0,-10px);-ms-transform:translate(0,-10px);transform:translate(0,-10px)}[data-balloon][data-balloon-pos='down-right']:hover:after,[data-balloon][data-balloon-pos='down-right'][data-balloon-visible]:after{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}[data-balloon][data-balloon-pos='down-right']:hover:before,[data-balloon][data-balloon-pos='down-right'][data-balloon-visible]:before{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}[data-balloon][data-balloon-pos='left']:after{margin-right:11px;right:100%;top:50%;-webkit-transform:translate(10px,-50%);-moz-transform:translate(10px,-50%);-ms-transform:translate(10px,-50%);transform:translate(10px,-50%)}[data-balloon][data-balloon-pos='left']:before{background:no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba(17,17,17,0.9)%22%20transform%3D%22rotate(-90 18 18)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");background-size:100% auto;width:6px;height:18px;margin-right:5px;right:100%;top:50%;-webkit-transform:translate(10px,-50%);-moz-transform:translate(10px,-50%);-ms-transform:translate(10px,-50%);transform:translate(10px,-50%)}[data-balloon][data-balloon-pos='left']:hover:after,[data-balloon][data-balloon-pos='left'][data-balloon-visible]:after{-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%)}[data-balloon][data-balloon-pos='left']:hover:before,[data-balloon][data-balloon-pos='left'][data-balloon-visible]:before{-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%)}[data-balloon][data-balloon-pos='right']:after{left:100%;margin-left:11px;top:50%;-webkit-transform:translate(-10px,-50%);-moz-transform:translate(-10px,-50%);-ms-transform:translate(-10px,-50%);transform:translate(-10px,-50%)}[data-balloon][data-balloon-pos='right']:before{background:no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba(17,17,17,0.9)%22%20transform%3D%22rotate(90 6 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");background-size:100% auto;width:6px;height:18px;left:100%;margin-left:5px;top:50%;-webkit-transform:translate(-10px,-50%);-moz-transform:translate(-10px,-50%);-ms-transform:translate(-10px,-50%);transform:translate(-10px,-50%)}[data-balloon][data-balloon-pos='right']:hover:after,[data-balloon][data-balloon-pos='right'][data-balloon-visible]:after{-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%)}[data-balloon][data-balloon-pos='right']:hover:before,[data-balloon][data-balloon-pos='right'][data-balloon-visible]:before{-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%)}[data-balloon][data-balloon-length='small']:after{white-space:normal;width:80px}[data-balloon][data-balloon-length='medium']:after{white-space:normal;width:150px}[data-balloon][data-balloon-length='large']:after{white-space:normal;width:260px}[data-balloon][data-balloon-length='xlarge']:after{white-space:normal;width:380px}@media screen and (max-width: 768px){[data-balloon][data-balloon-length='xlarge']:after{white-space:normal;width:90vw}}[data-balloon][data-balloon-length='fit']:after{white-space:normal;width:100%}
}


body {
  &.stop_scrolling {
    overflow-y: hidden;
  }
}


#galeria_metabox.postbox {
	position: relative;

  h2.hndle {
    span.save-indicator {
      @include transition(all 0.2s ease-in-out);
      opacity: 0;
      float: right;
      font-size: 8px;
      margin-top: -2px;
      color: $active;
      span {
        font-size: 13px;
        letter-spacing: normal;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-weight: bold;
        margin: 0;
        top: -3px;
        position: relative;

        -webkit-animation: pulsate 3s ease-out;
        -webkit-animation-iteration-count: infinite;
        opacity: 0.5;
      }

      @-webkit-keyframes pulsate {
          0% {
              opacity: 0.5;
          }
          50% {
              opacity: 1.0;
          }
          100% {
              opacity: 0.5;
          }
      }

      i {

      }
    }
  }

  &.saving {
    h2.hndle {
      span.save-indicator {
        opacity: 1;
      }
    }
  }

	.inside {
		padding: 0;
		margin: 0;
    overflow: hidden;
	}
	.clear {
		clear: both;
	}
	span.gradient-overlay {
		position: absolute;
		z-index: 1;
	  width: calc( 100% - 51px );
	  height: 30px;
	  bottom: 0;
	  left: 0;
	  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 96%, rgba(255,255,255,1) 100%);
	  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 96%,rgba(255,255,255,1) 100%);
	  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 96%,rgba(255,255,255,1) 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
	}

	/* Header Section */

	.header-section {
		display: block;
		width: calc( 100% - 50px );
		float: left;
		padding: 0;
    @include box-sizing(border-box);
		border-bottom: 1px solid $light-grey2;

		ul, ul li {
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			padding: 0;
		}

		ul {
			float: right;

			li {
				padding: 10px;
		    font-size: 20px;
				cursor: pointer;
				@include transition(all 0.2s ease-in);
				float: left;

				i {
					color: $dark_grey;
					@include transition(all 0.2s ease-in);
				}

				&:hover {
					background: $active_hover;

					i {
						color: $white;

            span {
              color: $white !important;
            }
					}
				}
				&.active {
					background: $active !important;
					i {
						color: $white;

            span {
              color: $white !important;
            }
					}
				}
			}

			&.main-functions {
        li {
          span {
            font-size: 16px;
            color: $dark_grey;
            margin: 0 0 0 7px;
            font-weight: bold;
            vertical-align: middle;
            display: inline-block;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
          }
        }
			}
		}
	}


	/* Right Menu */

	.main-right-menu {
		float: right;
    width: 50px;
		border-left: 1px solid $light_grey2;
		padding: 0;
    position: relative;
    z-index: 2;
    background: $white;

		ul, ul li {
			margin: 0;
		}

		ul {
			li {
		    text-align: center;
		    padding: 10px 0;
		    font-size: 25px;
				cursor: pointer;
				border-bottom: 1px solid $light_grey2;
				@include transition(all 0.2s ease-in);

				&:last-of-type {
					border-bottom: none;
				}

				i {
					color: $black;
					@include transition(all 0.2s ease-in);
				}

				&:hover {
					background: $active_hover;

					i {
						color: $white;
					}
				}
				&.active {
					background: $active !important;
					i {
						color: $white;
					}
				}
			}
		}

		.upload-box {
			cursor: pointer;
			text-align: center;
			display: block;
			width: 100%;
	    background: red;
      margin-top: 15px;
      @include box-sizing(border-box);
			margin-top: 91px;
			background: $blue;
      padding: 15px 0;
      @include transition(all 0.2s ease-in-out);

      &:hover {
        background: $blue_hover;
      }

			i {
				font-size: 30px;
				color: $white;
			}
		}
	}


  /* carousel-control */

  div.carousel-control {
    width: 0;
    height: 0;
    display: none;

    &.active {
      display: block;
    }

    div {
      position: absolute;
      z-index: 1;
      top: calc( 50% - 20px );
      background: rgba( $active, 0.8 );
      width: 60px;
      height: 60px;
      color: $white;
      display: inline-block;
      line-height: 1.3;
      text-align: center;
      cursor: pointer;
      @include transition(all 0.2s ease-in-out);
      border: 3px solid $white;

      i {
        font-size: 35px;
        position: absolute;
        top: 11px;
      }

      &.left {
        left: -33px;
        -webkit-border-top-right-radius: 50%;
        -webkit-border-bottom-right-radius: 50%;
        -moz-border-radius-topright: 50%;
        -moz-border-radius-bottomright: 50%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;

        i {
          left: 36px;
        }
      }
      &.right {
        right: 21px;
        -webkit-border-top-left-radius: 50%;
        -webkit-border-bottom-left-radius: 50%;
        -moz-border-radius-topleft: 50%;
        -moz-border-radius-bottomleft: 50%;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;

        i {
          right: 33px;
        }
      }

      &:hover {
        background: $active_hover;
      }
    }
  }



	/* Content Wrapper */

	.content-wrapper {
    width: calc( 100% - 51px );
    float: left;
    height: 334px;
		padding: 15px;
    overflow-x: auto;
    @include box-sizing(border-box);
		position: relative;


		/* Screen: gallery */

		div.gallery-screen {
			ul {
				margin: 0;
				li {
					display: inline-block;
					margin: 0;
					padding: 5px;

          &.sortable-placeholder {
            width: 125px;
            height: 125px;
            padding: 0;
            margin: 5px;
            background: #eee;
            @include box-sizing(border-box);
            display: inline-block;
            vertical-align: top;
          }

					div.img {
						width: 123px;
						height: 123px;
						display: inline-block;
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center center;
						position: relative;
						overflow: hidden;
						border: 1px solid $light_grey2;

						&::before {
							content: "";
							background: rgba($active, 0.4);
							position: absolute;
					    width: 100%;
					    height: 100%;
					    top: 400px;
							left: 0;
							@include transition(all 0.3s ease-in-out);
						}

						.overlay {
							position: relative;
					    height: 100%;
					    width: 100%;
							@include transition(all 0.3s ease-in);
							opacity: 0;
              cursor: move;

							div {
								i {
									color: $active;
									position: absolute;
									width: 18px;
							    height: 18px;
							    text-align: center;
							    line-height: 18px;
									background: $white;
									cursor: pointer;
									font-size: 20px;
									-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
									box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
									@include transition(all 0.2s ease-in-out);
								}
							}

							div.trash-btn {
								i {
									top: 0;
							    right: 0;
							    color: $red;
							    padding: 8px;

									&:hover {
										background: $red !important;
									}
								}
							}
							div.full-view-btn {
								i {
									top: 50%;
									left: 50%;
									width: 30px;
							    height: 30px;
							    line-height: 30px;
							    text-align: center;
									padding: 8px;
									border: 2px solid $white;
							    color: $white;
							    background: rgba($white,0.2);

									-webkit-transform: translate(-50%, -50%);
									-ms-transform: translate(-50%, -50%);
									transform: translate(-50%, -50%);

									-webkit-border-radius: 50px;
									-moz-border-radius: 50px;
									border-radius: 50px;
								}
							}
							div.edit-btn {
								i {
									bottom: 0;
									right: 0;
									padding: 8px;
								}
							}
						}

						&:hover {
							&::before {
								top: 0 !important;
							}

							.overlay {
								opacity: 1;
								div {
									i:hover {
										background: $active_hover;
										color: $white;
										border-color: $active_hover;
									}
								}
							}
						}

					}
				}
			}
		}


		/* Screen: File list */

    div.file-list-screen {
      ul {
        margin: 0;
        li {
          display: block;
          width: 100%;
          background: $active;
          position: relative;
          padding: 8px 10px;
          @include box-sizing(border-box);
          margin: 0 0 10px 0;
          cursor: move;

          &.sortable-placeholder {
            height: 34px;
            background: $light_grey2;
          }

          .filename {
            color: $white;
            max-width: 450px;
            width: 100%;
            overflow-x: auto;
          }
          .overlay {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;

            div {
              display: inline-block;
              margin: 0;
              padding: 7px 15px;
              font-size: 20px;
              cursor: pointer;

              i {
                color: $white;
              }

              &:hover {
                background: $active_hover;
              }

              &.full-view-btn {

              }
              &.edit-btn {

              }
              &.trash-btn {
                &:hover {
                  background: $red;
                }
              }
            }
          }
        }
      }
    }


    /* Screen: Terms settings */

    div.terms-settings-screen {

      .set-new-term {
        border-bottom: 1px solid $light_grey2;
        display: block;
        width: 100%;
        padding: 20px 10px;
        @include box-sizing(border-box);

        input[type="text"],
        select {
          width: 200px;
          vertical-align: middle;
          padding-top: 6px;
          padding-bottom: 6px;
          margin-right: 15px;

          &.error {
            border: 1px solid $red;
          }
        }
        input[type="submit"] {
        }
      }

      .terms-view {
        margin-top: 20px;

        ul.main-ul {
          margin: 0 0 0 1em;
          padding: 0;
          list-style: none;
          color: $active;
          position: relative;
          ul {
            margin: 0 0 0 1em;
            padding: 0;
            list-style: none;
            color: $active;
            position: relative;
            margin-left: .5em;
          }
          &:before, ul:before {
            content: "";
            display: block;
            width: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            border-left: 1px solid;
          }
          li {
            margin: 0;
            padding: 0 1.5em;
            line-height: 2em;
            font-weight: bold;
            position: relative;

            &.sortable-placeholder {
              width: 200px;
              height: 15px;
              background: grey;
              border: 1px solid red;
            }

            &:before {
              content: "";
              display: block;
              width: 10px;
              height: 0;
              border-top: 1px solid;
              margin-top: -1px;
              position: absolute;
              top: 1em;
              left: 0;
            }
            &:last-child:before {
              background: $white;
              height: auto;
              top: 1em;
              bottom: 0;
            }

            div.term {
              position: relative;
              display: inline-block;
              @include transition(all 0.2s ease-in);
              cursor: default;

              input {
                background: none;
                border: none;
                padding: 0;
                box-shadow: none;
                -webkit-box-shadow: none;
                color: $active;
                cursor: default;
              }

              span.term_controller {
                position: absolute;
                right: -180px;
                top: 0;
                opacity: 0;
                @include transition(all 0.3s ease-in);

                div {
                  float: left;
                  div {
                    padding: 0 5px;
                    background: $active;
                    width: 20px;
                    text-align: center;
                    cursor: pointer;

                    i {
                      color: $white;
                    }
                  }
                }

                .parent-term-nav,
                .move-up-and-down,
                .other {
                  margin-right: 1px;
                }

                .parent-term-nav {
                  .to_parent {

                  }
                  .to_child {

                  }
                }
                .move-up-and-down {
                  .move_up {

                  }
                  .move_down {

                  }
                }
                .other {
                  .rename {

                  }
                  .remove {
                    background: $red;
                  }
                }
              }

              &.active,
              &:hover {
                background: $active;
                padding: 0 50px 0 10px;
                color: $white;

                input {
                  color: $white;
                }

                span.term_controller {
                  opacity: 1;
                  div {
                    div {
                      &:hover {
                        background: $active_hover;
                      }
                    }
                  }
                }
              }

              &[data-term-id="uncategorized"] {
                .term_controller {
                  display: none !important;
                }
              }

            }
          }
        }

				input[name="save_categories"] {
					margin-top: 30px;
					margin-bottom: 60px;
				}

      }
    }


    /* Screen: Image edit */

    div.image-edit-screen {
      float: left;
      width: calc( 100% + 30px );
      margin-left: -15px;
      margin-top: -15px;

      .left_side,
      .right_side {
        width: 50%;
        padding: 15px;
        @include box-sizing(border-box);
      }

      .left_side {
        float: left;

        .img-preview {
          img {
            width: 100%;
            height: auto;
          }
        }
        ul.attachment-info-content {
          float: left;
          width: 100%;
          margin: 30px 0;
        }
      }
      .right_side {
        float: right;
        border-left: 1px solid $light_grey2;

        ul.edit-menu {
          margin: 0 0 15px 0;
          float: left;
          width: calc( 100% - 45px );
          li {
            width: 33.3333%;
            height: 45px;
            border-right: 1px solid $white;
            background: $active_hover;
            display: inline-block;
            @include box-sizing(border-box);
            margin: 0;
            float: left;
            padding: 0 15px;
            position: relative;
            cursor: pointer;
						@include transition(all 0.2s ease-in-out);

            span {
              text-align: center;
              position: absolute;
              width: 100%;
              top: 50%;
              left: 0;
              padding-left: 15px;
              padding-right: 15px;
              color: $white;
              font-size: 12px;
              line-height: 1.4;
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              transform: translateY(-50%);
              @include box-sizing(border-box);
            }

            &:first-of-type {
              border-left: 1px solid $white;
            }

            &:hover,
            &.active {
              background: $active;
            }
          }
        }


        .close_btn {
          display: block;
          span {
            float: right;
            cursor: pointer;
            i {
              color: $dark_grey;
              font-size: 26px;
              @include transition(all 0.2s ease-in-out);
            }

            &:hover {
              i {
                color: $red;
              }
            }
          }
        }


        .edit-content-wrapper {
          .edit-content {
            display: none;
            float: left;
            width: 100%;

            p {
              font-size: 11px;
              line-height: 1.4;

              &.block-title {
                margin: 0;
                font-size: 14px;
                font-weight: bold;

                small {
                  display: block;
                  font-weight: 400;
                }
              }
            }

            &.active {
              display: block;
            }

            &.data-editing {
              input:not([type="submit"]),
              label,
              textarea {
                width: 100%;
                display: block;
                @include box-sizing(border-box);
                resize: none;
              }
              label {
                margin: 15px 0 5px 0;
              }
              input[type="submit"] {
                margin-top: 15px;
              }
              textarea {
                height: 80px;
              }
            }
            &.display-settings {

              /*  --- import content ---  */

              .button {
                min-width: 100px;
                text-align: center;
                &.update_btn {}
              }
              hr {
                display: block;
                width: 100%;
                height: 0;
                border-top: 1px solid $light_grey2;
                margin: 0;
              }
              .left_side {
                width: 47%;
                float: left;
              }
              .right_side {
                width: 47%;
                float: left;
                float: right;
              }
              .desc {
                float: right;
                width: 200px;
                color: #838383;
                font-size: 11px;
                font-weight: 600;
                line-height: normal;
                margin-top: 2px;
              }
              .img_crop_setting {
                float: left;
                width: 100%;
                padding: 15px 0;
                display: none;

                &.active {
                  display: block;
                }
                &.img_crop {
                  border-bottom: 1px solid $light_grey2;

                  table {
                    tr {
                      th {
                        label {
                          vertical-align: baseline;
                        }
                      }
                    }
                  }
                }
                &.cutting_location {
                  .right_side,
                  .left_side {
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    float: left;
                  }
                  .right_side {
                    margin-top: 15px;
                  }
                }
                &.get_preview {
                  border-top: 1px solid $light_grey2;
                  border-bottom: 1px solid $light_grey2;
                  margin-bottom: 15px;

                  .desc {
                    font-weight: 400;
                    line-height: 1.4;
                  }
                }
                label span {
                  font-size: 10px;
                }
                table th {
                  text-align: left;
                }
                .img_cutting_point {
                  background: url("../img/sample_img.jpg") no-repeat;
                  width: 120px;
                  height: 75px;
                  position: relative;
                  input[type="radio"] {
                    position: absolute;
                    width: auto;
                    &:nth-child(1) {
                      top: 6px;
                      left: 2px;
                    }
                    &:nth-child(2) {
                      top: 6px;
                      left: 50px;
                    }
                    &:nth-child(3) {
                      top: 6px;
                      right: 2px;
                    }
                    &:nth-child(4) {
                      top: 32px;
                      left: 2px;
                    }
                    &:nth-child(5) {
                      top: 32px;
                      left: 50px;
                    }
                    &:nth-child(6) {
                      top: 32px;
                      right: 2px;
                    }
                    &:nth-child(7) {
                      top: 60px;
                      left: 2px;
                    }
                    &:nth-child(8) {
                      top: 60px;
                      left: 50px;
                    }
                    &:nth-child(9) {
                      top: 60px;
                      right: 2px;
                    }
                  }
                }
                &.bg_color {
                  p {
                    margin-top: 0;
                  }
                  input, label {
                    display: inline-block;
                    width: auto;
                    vertical-align: middle;
                  }
                  table input[type="text"] {
                    width: 95px;
                    margin-left: 10px;
                  }
                }
              }
              div.preview_btn {
                margin: 10px 0;
                i {
                  padding-right: 10px;
                }
              }

              /*  --- /import content ---  */


            }
            &.categories {

            }
          }
        }


      }

    }


    /* Screen: Remove all */

    .remove-all-screen {
      width: 100%;
      height: 100%;
      float: left;
      position: relative;

      .content {
        display: block;
        width: 400px;
        text-align: center;
        position: absolute;
        top: 48%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        h3 {
          display: block;
          text-transform: uppercase;
          line-height: 1.4;
          letter-spacing: normal;
          margin-top: 0;
        }
        a {
          margin-left: 10px;
          margin-right: 10px;

          i {
            margin-right: 3px;
          }
        }
      }
    }




    /* Hide all content */

    .gallery-screen,
    .file-list-screen,
    .terms-settings-screen,
    .settings-screen,
    .info-screen,
    .history-screen,
    .remove-all-screen {
      display: none;
    }

    /*  */


	}
}


/* Show relevant content */

#galeria_metabox {
  &[data-screen="gallery-screen"] {
    .content-wrapper .gallery-screen {
      display: block;
    }
  }
  &[data-screen="file-list-screen"] {
    .content-wrapper .file-list-screen {
      display: block;
    }
  }
  &[data-screen="terms-settings-screen"] {
    .content-wrapper .terms-settings-screen {
      display: block;
    }
  }
  &[data-screen="settings-screen"] {
    .content-wrapper .settings-screen {
      display: block;
    }
  }
  &[data-screen="info-screen"] {
    .content-wrapper .info-screen {
      display: block;
    }
  }
  &[data-screen="history-screen"] {
    .content-wrapper .history-screen {
      display: block;
    }
  }
  &[data-screen="remove-all-screen"] {
    .content-wrapper .remove-all-screen {
      display: block;
    }
  }
}


body {
	&.folded {
		div.gallery-screen {
			ul li div.img {
				width: 146px !important;
		    height: 146px !important;
			}
		}
	}
}
